{% extends "base.html" %}

{% block title %}{{ _('Add an Investor') }} — CWO Transportation{% endblock %}

{% block content %}
<h1>{{ _('Add an Investor') }}</h1>
<form method="POST">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    {{ form.nom.label(class="form-label") }}
    {{ form.nom(class="form-control") }}
    {% if form.nom.errors %}
      {% for error in form.nom.errors %}
        <div class="text-danger">{{ error }}</div>
      {% endfor %}
    {% endif %}
  </div>
  <div class="mb-3">
    {{ form.montant.label(class="form-label") }}
    {{ form.montant(class="form-control") }}
    {% if form.montant.errors %}
      {% for error in form.montant.errors %}
        <div class="text-danger">{{ error }}</div>
      {% endfor %}
    {% endif %}
  </div>

  {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
